.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
boba_fett/
tests/**/coverage/
tests/e2e/reports
selenium-debug.log
.history
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
.idea

package-lock.json
yarn.lock
.env.development
.env.staging
dist.zip
.env.production
upload.js
upload-shangyun.js
/eManufacture-web.iml
