<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@davidshimjs/qrcodejs@0.0.2/dist/qrcode.min.js"></script>-->
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <div class="title"> 看图找资料</div>
    <div class="subject">请长按与您手中设备相同外观的产品二维码，进行智能资料查找。</div>
    <div class="product" v-for="(products,type) in productInfo">
        <div class="subtitle">{{type}}</div>
        <div class="item" v-for="product in products">
            <a :href="'product.html?typeName='+type+'&productId='+product.productId">
                <span class="itemtitle">{{product.productName}}</span>
                <div class="content">
                    <img :src="product.productImage" width="300"
                         height="300" class="left"><img src="images/174.jpg" width="280" height="300"
                                                        class="right"></div>
            </a>
        </div>
    </div>
</div>

</body>


<script>
    const {createApp, ref} = Vue
    createApp({
        data() {
            return {
                productInfo: null
            }
        },
        mounted() {
            fetch('res/data.json')
                .then(response => response.json())
                .then(data => this.productInfo = data);
        },

    }).mount('#app')
</script>
</html>
