<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@davidshimjs/qrcodejs@0.0.2/dist/qrcode.min.js"></script>-->
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <div class="title"> 看图找资料</div>
    <div class="subject">请长按与您手中设备相同外观的产品二维码，进行智能资料查找。</div>
    <div class="product" v-for="(products,type) in productInfo">
        <div class="subtitle">{{type}}</div>
        <div class="item" v-for="product in products">
            <a :href="'p1.html?typeName='+type+'&productName='+product">
                <span class="itemtitle">{{product}}</span>
            </a>
        </div>
    </div>
</div>

</body>


<script>
    const {createApp, ref} = Vue
    createApp({
        data() {
            return {
                productInfo: null
            }
        },
        mounted() {
            // 获取URL中的查询字符串
            const searchParams = window.location.search;
            // 使用URLSearchParams解析查询字符串
            const params = new URLSearchParams(searchParams);
            // 获取特定的参数值
            const typeName = params.get('typeName');
            const productName = params.get('productName');

            fetch('res/productData.json')
                .then(response => response.json())
                .then(data => this.productInfo = data);
        },
    }).mount('#app')
</script>
</html>
