<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">

<!--<script src="https://cdn.jsdelivr.net/npm/@davidshimjs/qrcodejs@0.0.2/dist/qrcode.min.js"></script>-->
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/qrcode.min.js" type="text/javascript"></script>
</head>
<body>
<div id="app">
    <div class="title"> 宝马力传感</div>
<!--    <div class="subject">请长按与您手中设备相同外观的产品二维码，进行智能资料查找。</div>-->
    <div id="qrcodeimg"></div>
    <div class="product" v-for="type in productInfo">
        <div class="subtitle">{{type.typeName}}</div>
        <div class="item" v-for="product in type.products">
            <a :href="'product.html?productId='+product.productId">
                <span class="itemtitle">{{product.productName}}</span>
                <div class="content">
                    <img :src="'img/product/'+type.typeName+'/'+product.productName+'/main.jpg'" width="300" height="300" class="left" />
                    <div ref="codeItem" class="right"></div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>


<script>
    const {createApp, ref} = Vue
    createApp({
        data() {
            return {
                productInfo: [],
                productImg: {}
            }
        },
        mounted() {
            // 获取URL中的查询字符串
            const searchParams = window.location.search;
            // 使用URLSearchParams解析查询字符串
            const params = new URLSearchParams(searchParams);
            // 获取特定的参数值
            const typeId = params.get('typeId');

            fetch('res/productData.json')
                .then(response => response.json())
                .then(data => {
                    if (data[typeId] === undefined) {
                        this.productInfo = data
                    }else {
                        data.forEach((item) => {
                            if (item.typeId === typeId) {
                                this.productInfo.push(item)
                            }
                        })
                    }
                    this.bindQRCode()
                });
            // var qr = new QRCode(document.getElementById("qrcodeimg"), "https://www.runoob.com");

        },
        methods: {
            bindQRCode: function () {
                let index = 0
                this.$nextTick(() => {
                    // console.log(this.productInfo)
                    this.productInfo.forEach((item) => {
                        item.products.forEach((product) => {
                            this.$refs.codeItem[index].innerHTML="";
                            let host = window.location.host;
                            let url = host+'/bml-product-h5/product.html?productId='+product.productId
                            url = encodeURI(url)
                            new QRCode(this.$refs.codeItem[index], {
                                text: url, //二维码内容
                                width: 300,
                                height: 300,
                                render: 'table',
                                colorDark: "#333333", //二维码颜色
                                colorLight: "#ffffff", //二维码背景色
                                correctLevel : QRCode.CorrectLevel.H //容错率，L/M/H
                            })
                            index++
                        })
                    })
                },500)
            },
            makeQrCode(dom,text) {
                var qrcode = new QRCode(dom, {
                    text: text, //二维码内容
                    width: 300,
                    height: 300,
                    render: 'table',
                    colorDark: "#333333", //二维码颜色
                    colorLight: "#ffffff", //二维码背景色
                    correctLevel : QRCode.CorrectLevel.H //容错率，L/M/H
                })
            }
        }
    }).mount('#app')

</script>
</html>
